*{
    font-family: "Gravitas One";
}

.app{
    background: rgba(220, 220, 220, 0); 
    backdrop-filter: blur(5px);
    padding: 4px 20px;
    border-radius: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: solid 1px rgba(128, 128, 128, 0.489);
}

body{
    margin : 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 200;
  font-style: normal;
}

#buttons{
    display: flex;
    flex-direction: column;
}

button{
    background: rgba(62, 185, 237, 0.427);
    font-size: 1rem;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(251, 251, 251);
    cursor: pointer;
    margin: 5px;
}

button:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

#timmer{
    font-size: 100px;
    margin: 20px 0;
}

